li {
    list-style-type: none;
    line-height: 1.2;
}

ul {
    margin: 0;
    padding: 0;
}

.container {}

.chatWindow {
    border: 2px solid limegreen;
    border-radius: 15px;
    max-width: 500px;
    max-height: 380px;
    overflow-y: scroll;

}

.message {
    padding: 2px;
    color: white;
    margin: 5px;
    word-wrap: break-word;
    border-radius: 5px;
    background-color: #0d90f1;
}

.inputBar {
    margin-top: 10px;
}

.input {
    border: 1px solid limegreen;
    border-radius: 8px;
}

.sendBtn {
    float: right;
    border: 1px solid limegreen;
    border-radius: 5px;
}
